body{
    background-color:   #405D72;
   
}
fieldset{
    background-color: #F7E7DC;
    font-family: '0xProtoNerdFontMono-Regular', Courier, monospace;
}
textarea{
    background-color: #FFF8F3;
    /* background-color: #758694; */
}

.habittracker{
    height:250px;
    /* display: flex; */
}

.date{
    position:fixed right ; 
}